/* Geral */
body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: white url('../img/fundo.png') repeat-x;
    margin: 0;
}

#container {
    width: 750px;
    margin: 0 auto;
}

a, a:link, a:visited {
    color: #B10333;
}

a:hover {
    color: #E50040;
}

/* Cabeçalho */
#header {
    height: 180px;
    background: url('../img/detalhe-topo.png') no-repeat right;
}

#header-logo {
    display: inline-block;
    margin-top: 30px;
}

#header-navbar ul {
    list-style: none;
    padding: 0;
}

#header-navbar ul li {
    margin-top: 10px;
    display: inline-block;
    background: #B10333;
}

#header-navbar ul li:not(:first-child) {
   margin-left: -5px;
   background-image: url('../img/divisor.png');
   background-repeat: no-repeat;
   background-position: left center;
}

#header-navbar ul li a {
    color: white;
    display: block;
    padding: 13px 19px;
    text-decoration: none;
    transition: 0.5s;
}

#header-navbar ul li a:hover {
    transition: 0.5s;
    padding: 13px 24px;
    color: black;
    background-color: #DE003E;
}


#header-navbar .selected-page {
    background-color: #DE003E;
}

/* Área de notícias */
#main {
    margin-top: 60px;
    width: 100%;
}

#main>div {
    display: inline-block;
    vertical-align: top;
}

#main>div:not(:first-child) {
    margin-left: 10px;
}

.news h5 {
    padding: 2px;
    display: inline;
    color: white;
    background: #B10333;
    text-transform: uppercase;
}

.main-box {
    margin-bottom: 10px;
    padding: 5px;
    background: url('../img/fundo-caixa.png');
}

.main-box h4 {
    margin: 0;
    padding: 5px;
    color: white;
    background: #294C71;
}

.main-box div {
    margin-top: 5px;
    padding: 5px;
    background: white;
}

/* Barra lateral esquerda */
#sidebar {
    width: 170px;
}

.interviews ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.interviews li {
    font-size: 0.9em;
}

.interviews li:not(:last-child) {
    border-bottom: 0.5px solid #E8E8E8;
}

.interviews a, .interviews a:link, .interviews a:visited {
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: black;
}

.interviews a:hover {
    color: #A9A9A9;
    padding-left: 20px;
    background: url('../img/marcador.png') no-repeat left center;
}

#receive-news #news-email {
    box-sizing: border-box;
    width: 80%;
    padding: 5px;
    margin-bottom: 5px;
}

#receive-news #news-submit {
    padding: 5px;
    color: white;
    background: #B10333;
    border: 2px solid #780021;
}

/* Colunas */
.column {
    width: 265px;
}

.column p {
    margin: 0;
}

.news img {
    box-sizing: content-box;
    width: 98%;
    border: 3px solid #E8E8E8;
}

/* Blocos de notícias */
.news-block {
    font-size: 0.7em;
}

.news-block ul {
    list-style-type: none;
    margin: 0;
    padding: 2px;
}

.news-block a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px;
    height: 55px;
    border-bottom: 1px solid #A9A9A9;
}

.news-block a:hover {
    background: #E8E8E8;
}

.news-block img {
    float: left;
    width: 35%;
    margin-right: 5px;
}

.news-block h5 {
    vertical-align: top;
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
    color: #3E7AB9;
}

.news-block p {
    margin: 0;
    display: inline;
    clear: both;
}
